<html>
<head>
	<link rel="stylesheet" type="text/css" href="/slick/slick.css"/>

	<link href="https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Oswald:200,300,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/styles/style.css">
	<title>Weather Ready</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
	{{{ body }}}
	<script type="text/javascript" src="/slick/slick.min.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>
