<html>
<head>
	<title></title>
	<link href="https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Oswald:200,300,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
	{{{ body }}}
</body>
</html>