<h1>Log in</h1>
<form action="/users" method="POST">
	<input type="text" placeholder="Username" name="username"><br />
	<input type="password" placeholder="Password" name="password"><br />
	<input type="submit" value="Log in"/>
</form>
<h3><a href="/users/register">Create a new Account</a></h3>