<div id="container">
	<input type="hidden" name="zipHolder" id="zipCode" value={{zipcode}}>
	<div id="wrapper">
		<div class="heading">
			<form action="/users" class="sessionForm" method="GET">
				<input type="submit" class="btn" id="logoutBtn" value="Log out">
			</form>
			<p id="welcomeMsg">Welcome {{firstname}}!</p>
		</div>
		<div id="weatherInfo">
			<div class="thirdCol col1">
				<span id="city"></span>
				<input type="submit" class="btn" id="newLocationBtn" value="Change Location">
				<h4 id="day"></h4>
				<span id="date"></span>
			</div>
			<div class="thirdCol col2">
				<img height="100" width="115" class="weatherImg">
				<h4 id="description">Partly Cloudy</h4>
			</div>
			<div class="thirdCol col3">
				<p>Hi <span id="tempHi"></span> Lo <span id="tempLo"><span></p>
				<div class="degFlex"><span id="temp">22</span><span class="deg">ยบ</span></div>
			</div>
		</div>
		<div id="clothingInfo">
			<h3>Recommended Outfits</h3>
			<div id="outfitSection">
				<img src="/images/navArrow.png" height="50" width="15" class="leftArrow" id="prevOutfitBtn">
					<div id="outfits">
            <div id="topImg"></div>
            <div id="top2Img"></div>
            <div id="bottomImg"></div>
            <div id="bottom2Img"></div>
            <div id="shoeImg"></div>
            <div id="jacketImg"></div>
					</div>
				<img src="/images/navArrow.png" height="50" width="15" class="rightArrow" id="nextOutfitBtn">
			</div>
		</div>
		<div id="accessoriesInfo">
			<h3>Recommended Accessories</h3>
			<div id="accessoriesSection">
				<img src="/images/navArrow.png" height="50" width="15" class="leftArrow" id="prevAccBtn">
					<div id="accessories">
						<div id="acc1"></div>
						<div id="acc2"></div>
						<div id="acc3"></div>
					</div>
				<img src="/images/navArrow.png" height="50" width="15" class="rightArrow" id="nextAccBtn">
			</div>
		<div>

	</div>
</div>
