<div><p id="name">Welcome {{firstname}}!</p></div>

<div class="temp-container">
  <div id="low" class="temp-item"><p class="title">low</p><p id="numLow">67<span id="lowF">&deg;F</span></p></div>
  <div id="current" class="temp-item"><p class="title">It is currently</p><p id="numCurrent">67<span id="currentF">&deg;F</span></p><p class="title" id="location">in Chicago, IL</p></div>
  <div id="high" class="temp-item"><p class="title">high</p><p id="numHigh">67<span id="highF">&deg;F</span></p></div>
</div>

<div class="image-container">
  <div class="image"><img></div>
  <div class="image"><p id="description"></p></div>
</div>

<div class="button-container">
  <div id="button">Change Location</div>
</div>

<div class="outfit-container">
  <div class="outfit-item">
    <p class="subhead">Recommended Outfits</p>
  </div>
  <div class="outfit-item">
    <p class="subhead">Recommended Accessories</p>
  </div>
</div>
